.body{
    margin: 0px;
    justify-content: center;
}
::-webkit-scrollbar{
    display: none;
}
li{
    list-style-type: none;
}
@keyframes ani2 {
    0% {
        transform: translate(0px,-50px);
        opacity: 0;
        
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
        
    }
}

@keyframes ani {
    0% {
        transform: translate(0px,50px);
        opacity: 0;
        
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
        
    }
}

.content1{
    background-image:  url("./source/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100vh;
    width: 100%;
    background-size: cover;
    transition: opacity 1s;
    transition: all 2s;
    opacity: 0.4;
}
.content1.show{
    opacity: 1;
}
.text1{
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    flex-direction: column;
    animation: ani 2s;
    transform: translate(0px,50px);
    transition: all 2s;
    text-shadow: 1px 1px black;
    width: 60%;
    margin-left: 15%;
}
.content1 h1{
    margin-top: -0px;
    font-size: 280%;
    padding-top: 22%;
}
.content1 h2{
    margin-top: 0px;
    font-size: 150%;
}
.btn1{
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border-style: none;
    margin-left: 15%;
    margin-top: -500px;
    transition: all 2s;
}
.btn1:hover{
    transform: scale(1.15);
}
.btn1.show:hover{
    transform: scale(1.15);
}
.btn1.show{
    transform: translate(0,0);
    animation: ani  2s;
    opacity: 1;
}
.text1.show{
    transform: translate(0,0);
    animation: ani  2s;
    opacity: 1;
}
.content2{
    background-image:  url("./source/2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100vh;
    width: 100%;
    background-size: cover;
    transition: opacity 1s;
    transition: all 2s;
    opacity: 0.4;
    margin-top: -40px;
    backdrop-filter: blur(10px);
    
}
.content2.show{
    opacity: 1;
}
.text2{
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    flex-direction: column;
    animation: ani 2s;
    transform: translate(0px,50px);
    transition: all 2s;
    text-shadow: 1px 1px black;
    width: 60%;
    margin-left: 25%;
}
.content2 h1{
    
    padding-top: 22%;
    font-size: 280%;
}
.content2 h2{
    
    font-size: 150%;
}
.text2.show{
    transform: translate(0,0);
    animation: ani  2s;
    opacity: 1;

}
.btn2{
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border-style: none;
    margin-left: 25%;
    margin-top: -500px;
    transition: all 2s;
}
.btn2:hover{
    transform: scale(1.15);
}
.btn2.show:hover{
    transform: scale(1.15);
}
.btn2.show{
    transform: translate(0,0);
    animation: ani  2s;
    opacity: 1;
}
.content3{
    background-image:  url("./source/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100vh;
    width: 100%;
    background-size: cover;
    transition: opacity 1s;
    transition: all 2s;
    opacity: 0.4;
    margin-top: -40px;
}


.content3.show{
    opacity: 1;
}
.text3{
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    flex-direction: column;
    animation: ani 2s;
    transform: translate(0px,50px);
    transition: all 2s;
    text-shadow: 1px 1px black;
    width: 60%;
    margin-left: 15%;
}
.content3 h1{
    
    padding-top: 25%;
    font-size: 280%;
}
.content3 h2{

    font-size: 150%;
    
}
.text3.show{
    animation: ani  2s;
    opacity: 1;
    transform: translate(0px,0px);

}
.btn3{
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border-style: none;
    margin-left: 15%;
    margin-top: -500px;
    transition: all 2s;

}
.btn3:hover{
    transform: scale(1.15);
}
.btn3.show:hover{
    transform: scale(1.15);
}
.btn3.show{
    transform: translate(0,0);
    animation: ani  2s;
    opacity: 1;
}
